[build-system]
#requires = ["setuptools>=61.0"]
#build-backend = "setuptools.build_meta"
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[project]
name = "sysml2py"
version = "0.5.2"
authors = [
  { name="Christopher Cox", email="chris.cox@westfall.io" },
]
description = "SysML v2.0 Parser"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
where = ["src/sysml2py", "src"]

[tool.setuptools.package-data]
grammar = ["*.tx"]

[tool.pytest.ini_options]
pythonpath = [
  "src"
]

[tool.semantic_release]
version_variable = [
    "src/sysml2py/__init__.py:version",
]
version_toml=[
    "pyproject.toml:tool.poetry.version",
    "pyproject.toml:project.version",
]
commit_parser = "emoji"
build_command = "pip install poetry && poetry build"
commit_message = ":bookmark:{version}\n\nAutomatically generated by python-semantic-release"

[tool.semantic_release.changelog]
exclude_commit_patterns = [":robot:",":twisted_rightwards_arrows:",
":poop:", "^[^:].*"]

[tool.semantic_release.commit_parser_options]
major_tags = [":boom:"]
minor_tags = [
    ":sparkles:",
    ":children_crossing:",
    ":lipstick:",
    ":iphone:",
    ":egg:",
    ":chart_with_upwards_trend:",
]
patch_tags = [
    ":ambulance:",
    ":lock:",
    ":bug:",
    ":zap:",
    ":goal_net:",
    ":alien:",
    ":wheelchair:",
    ":speech_balloon:",
    ":mag:",
    ":apple:",
    ":penguin:",
    ":checkered_flag:",
    ":robot:",
    ":green_apple:",
    ":memo:",
    ":heavy_plus_sign:",
    ":construction:",
    ":white_check_mark:",
]

[tool.semantic_release.branches.main]
match = "(main|master)"
prerelease = false
build_command = "pip install poetry && poetry build"

[tool.semantic_release.branches."dev0.5.x"]
match = "dev0.5.x"
prerelease = true
prerelease_token = "rc"
build_command = "pip install poetry && poetry build"

[project.urls]
"Homepage" = "https://github.com/Westfall-io/sysml2py"
"Bug Tracker" = "https://github.com/Westfall-io/sysml2py/issues"

[tool.poetry]
name = "sysml2py"
version = "0.5.2"
description = ""
authors = ["Christopher Cox <chris.cox@westfall.io>"]
readme = "README.md"
packages = [{ include = "sysml2py", from = "src" }]

[tool.poetry.dependencies]
python = "^3.9"
textx = "^3.1.1"
astropy = "^5.3.1"
pyyaml = "^6.0.1"
